.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  background-color: var(--surface);
  border-radius: var(--radius);
  border: 1px solid var(--text);
  transition:
    translate 250ms cubic-bezier(0.34, 1.8, 0.64, 1),
    var(--transition-shadow);
}

.title {
  font-size: 1.25rem;
}

.company {
  font-size: 1rem;
  font-weight: 600;
  color: var(--pine);
}

.location {
  color: var(--subtle);
}

.card:hover {
  translate: -1px -1px;
  box-shadow: var(--shadow-hard);
  transition:
    translate 250ms cubic-bezier(0.34, 1.8, 0.64, 1),
    var(--transition-shadow);
}

.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}
