.layout {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 0 0 420px;
  gap: 12px;
}

.details {
  flex: 1;
  position: sticky;
  top: 112px;
}

.subtitle {
  font-size: 0.9rem;
  padding: 0px 16px;
  color: var(--subtle);
}
