.rules {
  list-style: none;
}

.rulePassed {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--pine);
  font-size: 14px;
  font-weight: 400;
}

.ruleFailed {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--love);
  font-size: 14px;
  font-weight: 600;
}
