.form {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 12px;
  max-width: 66%;
  margin-inline: auto;
  align-items: center;
  gap: 8px;
  background-color: var(--surface);
  border: 1px solid var(--text);
  border-radius: var(--radius);
  box-shadow: var(--shadow-hard);
}

.select {
  background-color: transparent;
  padding: 12px;
  font-size: 15px;
  color: var(--text);
  font-family: var(--font-body);
  border: 1px solid var(--highlight-high);
  border-radius: var(--radius);
  cursor: pointer;
}

.icon {
  color: var(--subtle);
}
